.shopbg{
    background-color: rgb(240, 240, 240);
}
.icon {
    font-size: xx-large;
}

#sortBtn {
    background-color: white;
    color: rgb(65, 64, 64);
    border: none;
    font-weight: 400;
  }

.round{
    border: none;
    border-radius:5px;
}
.container_{
    width: 18rem;
    height: 15rem;
}
.img{
    height: 15rem;
    width: 285px;
    object-fit:contain;
    position: absolute;
    transition: transform .2s; 
}
.img:hover{
    position: absolute;
    transform: scale(1.5)
}
.icons{
    position: relative;
    /* padding-top: 5rem; */
    display: none;
    /* width: 18rem; */
    height: 15rem;
    align-self: center;
    background-color:rgba(256, 250, 250, 0.6);
    opacity: 0;
}
.icons:hover{
    opacity: 1;
}

.productIcon{
    /* display: none; */
    border: 1px solid black;
    padding: 5px;
    font-size: xx-large;
    font-weight: 400;

}
.productIcon:hover{
    display: block;
    border: 1px solid gold;
    color: gold;
}



.text-though{
    text-decoration:line-through;
}