

.signInBtn{
    border: none;
    color: black;
    border-radius: 3px;
    background-color: gold;
    padding: 5px;
}
.signInBtn:hover{
    background-color: blue;
    color: white;
}
.rounded{
    margin: 0rem;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.passBox{
    border: 1px solid black;
    border-radius: 3px;
    /* border-left: 1px solid black; */

}
.pass{
    border: none;
    /* border: 1px solid black; */
    /* border-left: none; */
    /* border-inline: none; */
    /* border-radius: 3px; */

}
.pass :active{
    border: none;
}
.eyebtn{

    border: none;
    /* border: 1px solid black; */
    /* border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; */
    margin-left: -8px;
    background-color: white;
}
.forgotbtn{
    border: none;
    background-color: white;
    
}