.warning{
    background-color: goldenrod;
}

.signUpBtn{
    border: none;
    color: black;
    border-radius: 3px;
    background-color: gold;
    padding: 5px;
}
.signUpBtn:hover{
    background-color: blue;
    color: white;
}
.rounded{
    margin: 0rem;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}


