.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Styles */
#nav {
  background-color: rgb(240, 240, 240);
}

.navLink {
  text-decoration: none;
  color: rgb(77, 76, 76);
}

.account_lang_curret {
  display: inline-flex;
  justify-content: space-around;
  padding-block: 3px;
}

#dropdown-basic {
  background-color: white;
  padding-block: 0px;
  border-radius: 0px;
}

#dropdown-basic:hover {
  background-color: darkgrey;
}






.icon {
  font-size: 60px;
}

.catego-hieght {
  height: 100px;
  transition:transform .2s;
}

.catego-hieght:hover {
  background-color: gold;
}

.catego-hieght div img{
  transition:transform .1s;
}

.homebg{
  background-color: rgb(240, 240, 240);
}
.carousel{
  height: 30rem;
}
.image{
  height:max-content;

}
.slidebtn{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}
.yellow{
  /* width: 10vh; */
  height: 34vh;
  overflow: hidden;
  /* background-image: url(./assets/girl.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  transition: 0.7s; */
}
.bgimage{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(./assets/girl.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  transition: 0.7s;
}
.bgimage:hover{
  transform: scale(1.3) rotate(10deg);

}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
transition: 0.2;
}
.content:hover{
  transform: scale(1) rotate(-10deg);
}
.yellowbtn{
  border: none;
}

.logo{
  height: 13rem;
  object-fit: cover;

}