.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* Nav Styles */

.navLink {
  text-decoration: none;
  color: rgb(77, 76, 76);
}
.account_lang_curret{
  display:inline-flex;
  justify-content: space-around;
  padding-block: 3px;
}

#dropdown-basic{
  background-color: white;
  padding-block: 0px;
  border-radius: 0px;
}

#dropdown-basic:hover {
  background-color: darkgrey;
}
